h1 lägg till bok 

form action="add_book" method="post"
    input type="text"  name="titel" placeholder="Bokens titel"
    input type="text" name="age_of_publication" placeholder="Publiseringsår"
    input type="text" name="author" placeholder="Författare"
    select name="genre" id="genre"
        <option value="romans">Romantik</option>
        <option value="fantasy">Fantasy</option>
        <option value="dackare">Däckare</option>
        <option value="science_fiction">Science-fiction</option>
    
    select name="review" id="review"
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    input type="submit" value="Skicka!"

